<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="ThreadRelay"
    Manufacturer="mps233"
    Version="$(var.ProductVersion)"
    UpgradeCode="{9076A4B1-D8C3-43BD-B358-513D31BF97BF}"
    Scope="perMachine"
    Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="ThreadRelayIcon" SourceFile="$(var.SourceDir)\AppIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ThreadRelayIcon" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="ThreadRelay">
        <Component Id="ThreadRelayExecutable" Guid="{D73AC09A-E893-48D1-BF68-7C698CA9A789}">
          <File Id="ThreadRelayExe" Source="$(var.SourceDir)\ThreadRelay.exe" KeyPath="yes" />
        </Component>
        <Component Id="ThreadRelayReadme" Guid="{952040C4-3F84-490C-98D6-B6EDD3605BC7}">
          <File Id="ReadmeMd" Source="$(var.SourceDir)\README.md" KeyPath="yes" />
        </Component>
        <Component Id="ThreadRelayReadmeEn" Guid="{4F7D4BDB-9DFE-4912-915D-502133D8458C}">
          <File Id="ReadmeEnMd" Source="$(var.SourceDir)\README.en.md" KeyPath="yes" />
        </Component>
        <Component Id="ThreadRelayConfigExample" Guid="{404E321F-8242-4519-874C-3532A4DF6248}">
          <File Id="ConfigExampleToml" Source="$(var.SourceDir)\config.example.toml" KeyPath="yes" />
        </Component>
        <Component Id="ThreadRelayLicense" Guid="{AD8DD0BF-FC8A-4ECC-8866-B6A75126493E}">
          <File Id="LicenseTxt" Source="$(var.SourceDir)\LICENSE" KeyPath="yes" />
        </Component>
        <Component Id="ThreadRelayNotice" Guid="{A5F234E9-4FA6-446C-9376-6C0DEDA55809}">
          <File Id="NoticeTxt" Source="$(var.SourceDir)\NOTICE" KeyPath="yes" />
        </Component>
        <Component Id="ThreadRelayThirdPartyLicenses" Guid="{8187AFBF-6954-4136-94E1-4C71E32E77A3}">
          <File Id="ThirdPartyLicensesTxt" Source="$(var.SourceDir)\THIRD_PARTY_LICENSES.txt" KeyPath="yes" />
        </Component>
        <Directory Id="BrandLicenseFolder" Name="brand">
          <Component Id="ThreadRelayLucideLicense" Guid="{8193B301-7257-4B3E-AC50-4663D44A5A67}">
            <File Id="LucideLicenseTxt" Source="$(var.SourceDir)\brand\LICENSE.lucide-icons" KeyPath="yes" />
          </Component>
          <Directory Id="ProviderLicenseFolder" Name="providers">
            <Component Id="ThreadRelayLobeHubLicense" Guid="{8CD4CD2D-D320-4C19-8FBC-494543992E5B}">
              <File Id="LobeHubLicenseTxt" Source="$(var.SourceDir)\brand\providers\LICENSE.lobehub-icons" KeyPath="yes" />
            </Component>
            <Component Id="ThreadRelayBrandSources" Guid="{D584E0DE-3966-4B7C-B845-431AA5BE4956}">
              <File Id="BrandSourcesMd" Source="$(var.SourceDir)\brand\providers\SOURCES.md" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="ThreadRelay">
        <Component Id="ThreadRelayStartMenuShortcut" Guid="{9F3CD93B-B992-4972-8858-81E2480F4825}">
          <Shortcut
            Id="ThreadRelayStartMenuShortcut"
            Name="ThreadRelay"
            Description="Open ThreadRelay"
            Target="[INSTALLFOLDER]ThreadRelay.exe"
            WorkingDirectory="INSTALLFOLDER"
            Icon="ThreadRelayIcon" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
          <RegistryValue
            Root="HKLM"
            Key="Software\ThreadRelay"
            Name="StartMenuShortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="ThreadRelayDesktopShortcut" Guid="{41F7435B-19FB-41FD-BD29-72A771B5A5BE}">
        <Shortcut
          Id="ThreadRelayDesktopShortcut"
          Name="ThreadRelay"
          Description="Open ThreadRelay"
          Target="[INSTALLFOLDER]ThreadRelay.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="ThreadRelayIcon" />
        <RegistryValue
          Root="HKLM"
          Key="Software\ThreadRelay"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="ThreadRelay" Level="1">
      <ComponentRef Id="ThreadRelayExecutable" />
      <ComponentRef Id="ThreadRelayReadme" />
      <ComponentRef Id="ThreadRelayReadmeEn" />
      <ComponentRef Id="ThreadRelayConfigExample" />
      <ComponentRef Id="ThreadRelayLicense" />
      <ComponentRef Id="ThreadRelayNotice" />
      <ComponentRef Id="ThreadRelayThirdPartyLicenses" />
      <ComponentRef Id="ThreadRelayLucideLicense" />
      <ComponentRef Id="ThreadRelayLobeHubLicense" />
      <ComponentRef Id="ThreadRelayBrandSources" />
      <ComponentRef Id="ThreadRelayStartMenuShortcut" />
      <ComponentRef Id="ThreadRelayDesktopShortcut" />
    </Feature>
  </Package>
</Wix>
